* {
  box-sizing: border-box;
}
.container {
  padding: 20px 20px 0 20px;
}
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}
ul, ol {
  padding: 0;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #444;
}
a:hover {
  color: #000;
}
*{
  font-family: 'Montserrat', sans-serif;
}
body {
  margin:0;
  color: #444;
  font-family: 'Montserrat', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.real-header,
.sub-header .menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sub-header .menu{
  justify-content: flex-start;
}
.sub-header .menu li{
  margin-right: 20px;
}
.logo {
    padding-top: 5px;
    height: 70px;
}
.carrito {
  font-size: 28px;
}
.imagen-principal img {
    width: 100%;
}

/* PRODUCTOS DESTACADOS */
.product-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.product{
  width: 30%;
  margin-bottom: 30px;
}
.product img{
  width: 100%;
}
.product-data{
  border: 1px solid #dcdcdc;
  margin-top: -4px;
}



.banner-contacto {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  margin-top: 2%;
}

footer {
    background:white;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 40px;
}

footer a {
    color: black;
    text-transform: uppercase;
}

footer a:hover {
    color: red;
}


/*El MENU*/

.containercategoria{
  overflow: hidden;
}
.categoria{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-decoration: none;
  color: #FAB001;
  font-size: 18px;
}

.categoria img {
  max-width: 150px;
  padding: 10px;
}

.volver {
  margin-top: 40px;
  margin-bottom: 40px;
  text-decoration: none;
  text-align: left;
}



/* Productos*/

.producto {
  overflow: hidden;
  width: 50%;
  float:left;
  padding: 10px;
}


.producto img {
  width: 80%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.descripcion {
  text-transform: none;
  font-size: 15px;
  margin-bottom: 10px;
}

.producto button {
  border-radius: 5px;
  padding: 3px 20px;
  color: black;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.producto button:hover {
    color: white;
    background-color: black;
}

.volver {
    width: 100%;
}

/* FAQ */

.titulofaq {
  margin-top: 20px;
  margin-bottom: 30px;
}


.Pregunta{
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: none;
}

.respuesta{
  margin-bottom: 40px;
}


/* contacto */

.legend {
  margin-left: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

.button {
    background-color: white;
    border-radius: 20px;
    color: white;
    padding: 5px 40px;
    text-align: center;
    display: inline-block;
    margin-left: 5px;
}

.dato{
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 5px;
}

.boton-contacto{
  border-radius: 20px;
  padding: 5px 40px;
  background-color: #FAB001;
  color: black;
  font-size: 13px;
  margin-left: 5px;
}
